<html>
    <head>
        <title></title>
        <script src="./angular.min.js"></script>
        <script src="./dist/controllers/app.controller.js"></script>
        <script src="./dist/controllers/product-catalog.controller.js"></script>
        <script src="./dist/app.module.js"></script>
    </head>
    <body ng-app="myApp" >
        
        <div ng-controller="MyFirstController as vm">
        <h1>TFL Store</h1>
        <ol>
            <li>Roses</li>
            <li>Lotus</li>
            <li>Gerbera</li>
            <li>Lily</li>
        </ol>
        <hr>
        <div>
            <div>
                <ol>
                    <li ng-repeat="user in vm.users">
                       {{user.email}} {{user.password}} 
                    </li>
                </ol>
            </div>
             
                <table>
                    <tr>
                        <td><label>Email</label></td>
                        <td>
                            <input type="text" name="email" id="email" ng-model="user.email" required/>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Password</label></td>
                        <td>
                            <input type="text" name="password" id="password" ng-model="user.password" required />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button ng-click="vm.onValidate()" id="btnLogin">Login</button>
                        </td>
                    </tr>
                </table>
                <label id="message"></label>
           
        </div>
    </div>
    <div ng-controller="ProductCatalogController as vm">
        <div class="row" style="display: flex; flex-wrap: wrap;">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="product in vm.products">
              <div class="card" style="border: solid; border-width: thin;">
                  <h2>{{product.name}}</h2>
                  <div class="card" style="width: 100%;">
                      <img class="card-img-top" src="{{product.imgSrc}}" alt="Card image" style="height:50vh;">
                      <div class="card-body">
                          <h4 class="card-title">{{product.name}}</h4>
                          <p class="card-text">
                              Type: {{product.type}} {{product.subtype}}
                              <br>
                              Price: <b>{{product.price | currency : "₹" : 2}}</b>
                              <br>
                              <button class="btn btn-primary stretched-link">Buy now</button>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    </body>
</html>