
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon 2.0</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
    <!-- <script src="./modules/app.js"></script> -->
    <script src="../controllers/login.controller.js"></script>
</head>
<body ng-app="transflower">
    <div ng-controller="loginController">
        <h1>TFL Store</h1>
        <ol>
            <li>Gerbera</li>
            <li>Roses</li>
            <li>Lotus</li>
            <li>Lily</li>
        </ol>
        <hr>
        <div>
            <ol>
                <!-- <li ng-repeat="user in users">{{ <user class="name"></user> }} {{ <user class="password"></user> }}</li> -->
            </ol>
        </div>
        <div>
            <form ng-submit="onValidate()">
                <table>
                    <tr>
                        <td>
                            <label for="">Email</label>
                        </td>
                        <td>
                            <input type="text" name="email" id="email" ng-model="user.email">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="">Password</label>
                        </td>
                        <td>
                            <input type="password" name="password" id="password" ng-model="user.password">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button id="loginBtn" type="submit">Login</button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><p id="loginMessage">Please Login</p></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>