<div class="d-flex justify-content-center ng-scope w-100" ng-controller="AuthController as ctrl">
    <div class="login-container w-25">
        <h3 class="text-center">Login</h3>
        <form ng-submit="ctrl.login()">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" ng-model="ctrl.user.username" class="form-control" id="email" placeholder="Enter your email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" ng-model="ctrl.user.password" class="form-control" id="password" placeholder="Enter your password">
            </div>
    
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>